<%= form_for question do |f| %>
<%= f.text_field :title, :class => 'user-lesson-inputs user-lesson-inputs-slim', placeholder: 'Title for question', required: true%>
<%= f.text_area :text, :class => 'text-area-sizing-medium', placeholder: 'What is your question?', required: true %>
<%= f.text_field :content_id, hidden: true %>
<%= f.text_field :time_in_lesson, hidden: true, :class => 'timing'%>
<% if current_user %>
<%= f.submit :class => 'button1' %>
<% else %>  
<p> Please log in to create question </p>
<% end %>
<% end %>
