<div class='lesson-group'>
	<div class='lesson-group-top'>
		<%= link_to lesson_path(lesson),:class => 'my-lessons-title-link' do %> 
			<h3><%= lesson.title %></h3>
		<% end %>
		<p><%= lesson.contents.size %> chapters</p>
	</div>
	<div class='lesson-group-bottom'>
		<div class="my-lessons-all-chapters-container">
			<% lesson.contents.each_with_index do |content, index| %>
				<div class="my-lessons-indi-content-container">
						<p><span class="my-lesson-chapter-text">Chapter <%= index.to_i + 1 %></span>
						<h3><%= content.title %></h3></p>
						
						<div class="my-lessons-flashcard-container">
								<br><%= content.flashcards.size %> flashcards
								<br><span class="my-lesson-my-contributions">0 from me</span>
						</div>

						<div class="my-lessons-flashcard-container">
								<br><%= content.questions.size %> questions
								<br><span class="my-lesson-my-contributions"><%= current_user.questions.count %> from me</span>
						</div>

						<div class="my-lessons-flashcard-container">
								<br><%= content.answers.size %> answers
								<br><span class="my-lesson-my-contributions"><%= current_user.answers.count %> from me</span>
						</div>
				</div>
			<% end %>
		</div>
		<div class="my-lessons-bottom-buttons-shell hideForMVP">

		</div>
	</div>
	<div class="toggle-drop-container">
		<div class="toggle-button" data-opened="false"></div>
	</div>
</div>