<div class='lesson-group'>
	<div class='lesson-group-top'>
		<h3><%= lesson.title %></h3>
		<p>with <%= lesson.contents.size %> pieces of content.</p>
	</div>
	<div class='lesson-group-bottom'>
		<div class="my-lessons-all-chapters-container">
			<% lesson.contents.each_with_index do |content, index| %>
				<div class="my-lessons-indi-content-container">
						<p><span class="my-lesson-chapter-text">Chapter <%= index.to_i + 1 %></span>
						<h3><%= content.title %></h3></p>
						
						<div class="my-lessons-flashcard-container">
								<br><%= content.flashcards.size %> flashcards
								<br><span class="my-lesson-my-contributions">2 from me</span>
						</div>

						<div class="my-lessons-flashcard-container">
								<br><%= content.questions.size %> questions
								<br><span class="my-lesson-my-contributions">2 from me</span>
						</div>

						<div class="my-lessons-flashcard-container">
								<br><%= content.answers.size %> answers
								<br><span class="my-lesson-my-contributions">2 from me</span>
						</div>
				</div>
			<% end %>
		</div>
		<div class="my-lessons-bottom-buttons-shell">
			<%= link_to "Remove from notebook", user_lesson_path(find_user_lesson(current_user.id, lesson.id)), :class => 'remove-lesson-from-notebook-btn button1', method: :delete, confirm: "Are you sure?" %>
			<% if owned %>
				<%= link_to "Delete lesson", lesson_path(Lesson.find(lesson.id)), method: :delete, confirm: "Are you sure you want to delete?" %>
			<% end %>
		</div>
	</div>

	<div class="toggle-button"></div>
</div>