<script type="text/javascript">
	var new_content = {
			lesson_id: '<%= lesson.id %>',
			id: '<%= content.id %>',
			url: '<%= content.url %>',
			position: '<%= content.position %>',
			start_time: '<%= content.start_time %>',
			finish_time: '<%= content.finish_time %>',
			duration: '<%= content.duration %>'
		}
	addContentToTimeline(new_content);
</script>
<div class="indi-video-shell indi-video-shell-<%= positionIndex %>" data-content-id="<%= content.id %>" data-index-id="<%= positionIndex %>">
	<input type="hidden" class="youtubeId-player<%= positionIndex %>" value='<%= content.url %>'>
	<div id="videoDiv-<%= positionIndex %>"></div>

	<div class="create-progress-bar progress-bar-<%= positionIndex %>" data-index-id="<%= positionIndex %>">

	  <div class="progress"></div>
	  <div class="create-draggable-progress create-draggable-progress-id-<%= positionIndex %> create-draggable-splicer-1-<%= positionIndex %>" data-timestamp="<%= content.start_time %>">
			<div class="tab-for-progress-bar"></div>
	  </div>

	  <div class="progress-span progress-span-id-<%= positionIndex %>"></div>

	  <div class="create-draggable-progress create-draggable-progress-end create-draggable-splicer-2-<%= positionIndex %> create-draggable-progress-end-id-<%= positionIndex %>" data-timestamp="<%= content.finish_time %>">
			<div class="tab-for-progress-bar"></div>
	  </div>
	</div>
	<!-- <button class="add-clip-to-lesson">Add clip to lesson</button> -->

	<script type="text/javascript">
		_run('<%= positionIndex %>');		
	</script>

	<script type="text/javascript">
	placeSlidersByTime(timeline[<%= positionIndex %>].start_time, <%= content.duration %>, <%= positionIndex %>, 'start_time');
	placeSlidersByTime(timeline[<%= positionIndex %>].finish_time, <%= content.duration %>, <%= positionIndex %>, 'end_time');

	makeDraggable($('.create-draggable-splicer-1-<%= positionIndex %>'), <%= positionIndex %>);
	makeDraggable($('.create-draggable-splicer-2-<%= positionIndex %>'), <%= positionIndex %>);
	updateProgressSpan(<%= positionIndex %>);
	</script>

</div><br><br>