<script type="text/javascript">
	var new_content = {
			lesson_id: '<%= content.lesson.id %>',
			id: '<%= content.id %>',
			url: '<%= content.url %>',
			position: '<%= content.position %>',
			start_time: '<%= content.start_time %>',
			finish_time: '<%= content.finish_time %>',
			duration: '<%= content.duration %>',
			title: '<%= content.title %>'
		}
	CreateLesson.addContentToTimeline(new_content);
</script>
<div class="indi-video-shell indi-video-shell-<%= content.id %>" data-content-id="<%= content.id %>" data-index-id="<%= content.id %>">
	<input type="hidden" class="youtubeId-player<%= content.id %>" value='<%= content.url %>'>
	<div id="videoDiv-<%= content.id %>"></div>

	<div class="create-progress-bar progress-bar-<%= content.id %>" data-index-id="<%= content.id %>">

	  <div class="progress"></div>
	  <div class="create-draggable-progress create-draggable-progress-id-<%= content.id %> create-draggable-splicer-1-<%= content.id %>" data-timestamp="<%= content.start_time %>">
			<div class="tab-for-progress-bar"></div>
	  </div>

	  <div class="progress-span progress-span-id-<%= content.id %>"></div>

	  <div class="create-draggable-progress create-draggable-progress-end create-draggable-splicer-2-<%= content.id %> create-draggable-progress-end-id-<%= content.id %>" data-timestamp="<%= content.finish_time %>">
			<div class="tab-for-progress-bar"></div>
	  </div>
	</div>
	<!-- <button class="add-clip-to-lesson">Add clip to lesson</button> -->

	<script type="text/javascript">
		CreateLesson._run('<%= content.id %>');		
	</script>

	<script type="text/javascript">
	CreateLesson.placeSlidersByTime(<%= content.start_time %>, <%= content.duration %>, <%= content.id %>, 'start_time');
	CreateLesson.placeSlidersByTime(<%= content.finish_time %>, <%= content.duration %>, <%= content.id %>, 'end_time');

	CreateLesson.makeDraggable($('.create-draggable-splicer-1-<%= content.id %>'), <%= content.id %>);
	CreateLesson.makeDraggable($('.create-draggable-splicer-2-<%= content.id %>'), <%= content.id %>);
	CreateLesson.updateProgressSpan(<%= content.id %>);
	</script>

</div><br><br>