<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  lesson_id = <%= @lesson.id %>;
  active_edit_video = <%= @lesson.contents.first.id %>;
</script>
	<section class="sub-header">
		<h1 class="lesson-title"><%= @lesson.title %></h1>
		<%= button_to "View Lesson", lesson_path(@lesson.id), :class => 'button1 right-floater', :method => :get %>
		<p class="saving-data-shell right-floater">All changes Saved</p>
	</section>
	<div class="update-save-container" style="display:none">
		<%= image_tag 'progress.gif', :class => 'updating-data' %>
		<%= image_tag 'check_small.png', :class => 'data-saved' %>
	</div>
	<div class="video-window">
		<% @lesson.contents.each_with_index do |content, index| %>
			<%= render partial: 'contents/new_content', locals: {content: content, positionIndex: index, lesson: @lesson} %>
		<% end %>
	</div>

	<div class="playlist-shell">
		<h3>Lesson Clips:</h3>
		<ul class="playlist-container"></ul>
		
		<div class="url-input-container">
			<input type="text" placeholder="Youtube URL" id="add-new-content" class="left-floater add-youtube-movie-input">
			<button class="button2 submit-url-btn right-floater add-new_youtube-clip">Add Clip</button>
		</div>
	</div>

	<!-- <div class="url-input-container left-floater">
		<input type="text" placeholder="Youtube URL">
		<button class="button2">Add Clip</button>
	</div> -->


	<!-- <button class="play-current-editing-video" onClick='CreateLesson.playVideo()'>Play</button>
	<button class="pause-current-editing-video" onClick='CreateLesson.pauseVideo()'>Pause</button>
 -->
	<h3 class="full-time-line-header-text">Full Lesson Sequence</h3>

	<div class="full-timeline-window">
		<ul class="full-lesson-timeline"></ul>
	</div>
<script type="text/javascript">
	function onYouTubePlayerReady(playerString) { 
	  // This causes the updatePlayerInfo to be called every 250ms to
	  // get fresh data from the player
	  var playerId = CreateLesson.getIdFromPlayerString(playerString);
	  CreateLesson.activateContent(playerId);
	  setInterval(CreateLesson.updatePlayerInfo, 250);
	  CreateLesson.updatePlayerInfo(playerId);
	  ytplayer.addEventListener("onStateChange", "CreateLesson.onPlayerStateChange");
	  ytplayer.addEventListener("onError", "CreateLesson.onPlayerError");
	  //Load an initial video into the player
	  var url = CreateLesson.getYoutubeURLFromDiv(playerString);
	  var start_time = CreateLesson.getStartTimeFromId(playerId);
	  ytplayer.cueVideoById(CreateLesson.getVideoIdFromUrl(url), start_time);
	  CreateLesson.activateContent(timeline[0].id);
	};
	$(document).ready(function(){
		CreateLesson.init();
	})
</script>