<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  lesson_id = <%= @lesson.id %>;
  active_edit_video = <%= @lesson.contents.first.id %>;
</script>
	<section class="sub-header">
		<h1 class="lesson-title"><%= @lesson.title %> <span>(edit mode)</span></h1>
		<p class="button3 left-floater create-lesson-help-activate">?</p>
		<%= button_to "View Lesson", lesson_path(@lesson.id), :class => 'button1 right-floater', :method => :get %>
		<p class="saving-data-shell right-floater">All changes Saved</p>
	</section>
	<div class="update-save-container" style="display:none">
		<%= image_tag 'progress.gif', :class => 'updating-data' %>
		<%= image_tag 'check_small.png', :class => 'data-saved' %>
	</div>
	<div class="video-window">
		<% @lesson.contents.each_with_index do |content, index| %>
			<%= render partial: 'contents/new_content', locals: {content: content, positionIndex: index, lesson: @lesson} %>
		<% end %>
	</div>

	<div class="playlist-shell">
		<h3>Lesson Clips:</h3>
		<ul class="playlist-container"></ul>
		
		<h4 class="add-more-yt-vids-text">Add more youtube clips to this lesson:</h4>
		<div class="url-input-container">
			<input type="text" placeholder="Youtube URL" id="add-new-content" class="left-floater add-youtube-movie-input">
			<button class="button2 submit-url-btn right-floater add-new_youtube-clip">Add Clip</button>
		</div>
		<h4 class="add-more-yt-vids-text">Full timeline overview:</h4>
		<ul class="full-lesson-timeline"></ul>
	</div>

	<!-- help shell -->
	<div class="edit-lesson-help-container">
		<div class="help-indi-shells splice-video-helper-container">
			<p>drag pink bars to choose the section of each video in your lesson</p>
			<%= image_tag 'arrow-white.png' %>
		</div>
		<div class="help-indi-shells drag-list-helper-container">
			<p>order video list by dragging and dropping here</p>
			<%= image_tag 'arrow-white.png' %>
		</div>
		<div class="help-indi-shells add-clip-helper-container">
			<p>Add more clips to your lesson by entering the url here</p>
			<%= image_tag 'arrow-white.png' %>
		</div>
	</div>
	
<script type="text/javascript">
	function onYouTubePlayerReady(playerString) { 
	  var playerId = CreateLesson.getIdFromPlayerString(playerString);
	  CreateLesson.activateContent(playerId);
	  setInterval(CreateLesson.updatePlayerInfo, 250);
	  CreateLesson.updatePlayerInfo(playerId);
	  ytplayer.addEventListener("onStateChange", "CreateLesson.onPlayerStateChange");
	  ytplayer.addEventListener("onError", "CreateLesson.onPlayerError");
	  var url = CreateLesson.getYoutubeURLFromDiv(playerString);
	  var start_time = CreateLesson.getStartTimeFromId(playerId);
	  ytplayer.cueVideoById(CreateLesson.getVideoIdFromUrl(url), start_time);
	  CreateLesson.activateContent(timeline[0].id);
	};
	$(document).ready(function(){
		CreateLesson.init();
		CreateLesson.activateHelpContainer();
		<% if current_user.created_lessons.first.created_at > Time.now - 60 %>
			CreateLesson.firstTimeCreatorHelpAutoActive();
		<% end %>
	})
</script>