<!-- Required Javascript - need to be here bc we use it twice in the document with diff meaning. Cant be renamed as part of YT API-->
<script type="text/javascript">
      function onYouTubePlayerReady(playerId) {
      Player.ytplayer = document.getElementById("ytPlayer");
      console.log(Player.ytplayer);
          Player.playerSubMethod(playerId);
          Player.ytplayer.cueVideoById({
              'videoId': Player.contents[0][0],
              'startSeconds': Player.contents[0][1],
              'endSeconds': Player.contents[0][2],
              'suggestedQuality': "default"
          });
          Player.videoCount = 0;
          Player.cID = Player.contents[0][3];
          Player.currentVideoID = Player.contents[0][0];
      };
 $(document).ready(function(){
  Player.init();
 });
</script>

<!-- Page HTML -->
<%= render partial: 'shared/voting', locals: { votable: @lesson } %>
<h1 id='show-lesson-title'>
  Lesson <%= @lesson.id %>
</h1>
<table class='content-nav'>
  <tr>
    <% @lesson.contents.each do |content| %>
    <td class='content-nav-piece'>
      <% if content.flashcards.any? %>
        <span data-content-id="<%= content.id %>"><%= content.flashcards.count %></span>
      <% end %>
    </td>
  <% end %>
</tr></table>

<div class='flashcards'>
  <%= render partial: 'flashcards/card' %>
</div>
<% count = 0 %>
<div class="top">

<!-- Refactor to helper method -->
<% @lesson.contents.each do |content| %>
<% url = content.url.match(/(=)(\w+)/)[2] %>
<% start_time = content.start_time.to_f %>
<% end_time = content.finish_time.to_f %>
<% id = content.id %>
<% count += 1 %>

<!-- Pushing the contents to javascript. Needed for switching bewteen lesson contents -->
<script type="text/javascript">
Player.contents.push(["<%= url%>", <%= start_time%>, <%= end_time%>, <%= id%>]);
</script>
<% end%>  

<!-- video player -->
  <div id="videoDiv">
  </div>
</div>

<div id='questions-answers'>

<!-- gets first content of lesson (equal to one video) -->

<% @lesson.contents.each_with_index do |video, index| %>

<% video_length = video.length %>

<!-- set video link to content-link, start-time and end-time via script tag -->

<!-- creates the question flow -->
<% times = get_question_timing(video) %>

<% video_length.ceil.times do |question| %>
<% if times.has_key?(question) %>

    <div class="qcontainer">
      <div class="triangle-border">
        <strong>
          <%= times[question].title%>
        </strong>
        <p class="question_body">
          <%= times[question].text%>
        </p>
      </div>
      <img class="bubble-face" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c0.0.160.160/p160x160/202896_4_1782288297_n.jpg">
    </div>
    <div class="repective-answers">
    <% times[question].answers.each do |answer|%>
      <div class="acontainer">
        <div class="atriangle-border"><%= answer.text%>
        </div>
        <img class="abubble-face" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c0.0.160.160/p160x160/202896_4_1782288297_n.jpg">
      </div>
      <% end %>
    </div>  
<% else %>
<div>
<div class="qcontainer">
  <%= question %>
</div>
</div>
<% end %>
  <% end %>
<% end %>
</div>
<!-- refactor to inject method -->
<% total_length = 0 %>
<% @lesson.contents.each {|content| total_length += content.length}%>

<!-- Progress bar parent (wrapper) -->
<div class="progress-bar">
  <div class="progress"></div>
  <div class="dragger"></div>

  <% current_width = 0 %>
<% @lesson.contents.each_with_index do |content, index| %>

<% width = ((content.length/total_length)* 900)%>

<!-- Creates a progress bar div for each chapter in lesson (incl style) -->
<div class="chapter progress<%=index%>" data-start="<%=current_width%>" data-end="<%=current_width + width%>">  
</div>

<style type="text/css">
  .progress<%=index%>{
  /* Based on percentage of whole video*/
  width: <%= width %>px;
  height: 100%;
  position: absolute;
  /* Based on end of prior video of whole video*/
  left: <%= current_width %>px;
  <% current_width += (content.length/total_length)* 900 %>
  top: 0px;
  /*random hex color ruby*/
  background-color: #<%= rand(0xffffff).to_s(16)%>;
}
</style>
<% end %>
</div>

<!-- Navigation bar. Play and pause for now. Will be replaced with nicer one later -->
<div id="navigation_bar">
  <button id="play" onclick="Player.playVideo();">
    Play
  </button>
  <button id="pause" onclick="Player.pauseVideo();">
    Pause
  </button>
</div>

<div id='tabs'>
  <ul>
    <li><a href="#tabs-1">Ask question</a></li>
    <li><a href="#tabs-2">Write note</a></li>
    <li><a href="#tabs-3">Create flashcard</a></li>
  </ul>
  <div id='tabs-1'>
    <%= render 'questions/new', question: @question %>
  </div>
  <div id='tabs-2'>
    <%= render 'notes/new', note: @note %>
  </div>
  <div id='tabs-3'>
    <%= render 'flashcards/new', flashcard: @flashcard %>
  </div>
</div>

<!-- diregard for now. Needed for now though. Please dont delete -->
<div id="videoInfo">
  <p>Player state: <span id="playerState">--</span></p>
  <p>Current Time: <span id="videoCurrentTime">--:--</span> | Duration: <span id="videoDuration">--:--</span></p>
</div>
