<!-- Required Stylesheets -->
<%= stylesheet_link_tag    "player_main_css.css", :media => "all" %>

<!-- Required Javascript -->
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load("swfobject", "2.1");
var contents = []
</script>
<%= javascript_include_tag "player_youtube" %>
<%= javascript_include_tag "player_jquery" %>

<!-- Page HTML -->
<%= render partial: 'shared/voting', locals: { votable: @lesson } %>
<h1 id='show-lesson-title'>
  Lesson <%= @lesson.id %>
</h1>
<table class='content-nav'>
  <tr>
    <% @lesson.contents.each do |content| %>
    <td class='content-nav-piece'>
      <% if content.flashcards.any? %>
        <span data-content-id="<%= content.id %>"><%= content.flashcards.count %></span>
      <% end %>
    </td>
  <% end %>
</tr></table>

<div class='flashcards'>
  <%= render partial: 'flashcards/card' %>
</div>
<% count = 0 %>
<div class="top">

<!-- Refactor to helper method -->
<% @lesson.contents.each do |content| %>
<% url = content.url.match(/(=)(\w+)/)[2] %>
<% start_time = content.start_time.to_f %>
<% end_time = content.finish_time.to_f %>
<% count += 1 %>

<script type="text/javascript">
contents.push(["<%= url%>", <%= start_time%>, <%= end_time%>]);
</script>
<% end%>  

  <div id="videoDiv">
  </div>
</div>

<div id='questions-answers'>
<!-- gets first content of lesson (equal to one video) -->
<% video_one = @lesson.contents.first %>
<% ee = video_one.url.match(/(=)(\w+)/) %>
<% video_length = video_one.length %>

<!-- set video link to content-link, start-time and end-time via script tag -->
<script type="text/javascript">
  var video_link = "<%= ee[2] %>"
  var start_time = "<%= video_one.start_time.to_f %>"
  var end_time = "<%= video_one.finish_time.to_f %>"
</script>

<% times = get_question_timing(video_one) %>

<% video_length.ceil.times do |question| %>
<% if times.has_key?(question) %>
<div>
    <div class="qcontainer">
      <div class="triangle-border">
        <strong>
          <%= times[question].title%>
        </strong>
        <p class="question_body">
          <%= times[question].text%>
        </p>
      </div>
      <img class="bubble-face" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c0.0.160.160/p160x160/202896_4_1782288297_n.jpg">
    </div>
    <div class="repective-answers">
    <% times[question].answers.each do |answer|%>
      <div class="acontainer">
        <div class="atriangle-border"><%= answer.text%>
        </div>
        <img class="abubble-face" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c0.0.160.160/p160x160/202896_4_1782288297_n.jpg">
      </div>
      <% end %>
    </div>  
  </div>
  
<% else %>
<div>
<div class="qcontainer">
  <%= question %>
</div>
</div>
<% end %>
  <% end %>
</div>

<!-- Alternate version of Questions/Answers, uses DB data and has voting -->
<!-- Use for reference when replacing above. -->
<!-- <div id='questions-answers'>
  <ul>
    < @lesson.questions.each do |question| %>
      <li class='question'>
        <= render partial: 'shared/voting', locals: { votable: question } %>
        <= question.text %>
      </li>
      < question.answers.each do |answer| %>
        <ul>
          <li class='answer'>
            <= render partial: 'shared/voting', locals: { votable: answer } %>
            <= answer.text %>
          </li>
        </ul>
      <span>
        <= content.flashcards.count %>
      </span>
      < end %>
    </td>
    < end %>
  </tr>
</table> -->

<div class="progress-bar">
  <div class="progress">  
  </div>
</div>
<div id="navigation_bar">
  <button id="play" onclick="playVideo();">
    Play
  </button>
  <button id="pause" onclick="pauseVideo();">
    Pause
  </button>
</div>


<!-- diregard for now. Needed for now though. Please dont delete -->
<div id="videoInfo">
  <p>Player state: <span id="playerState">--</span></p>
  <p>Current Time: <span id="videoCurrentTime">--:--</span> | Duration: <span id="videoDuration">--:--</span></p>
</div>
