<h1 id='show-lesson-title'>Lesson <%= @lesson.id %></h1>

<table class='content-nav'><tr>
  <% @lesson.contents.each do |content| %>
    <td class='content-nav-piece'>
      <% if content.flashcards.any? %>
        <span><%= content.flashcards.count %></span>
      <% end %>
    </td>
  <% end %>
</tr></table>

<div id='video'></div>

<div id='questions-answers'>
  <ul>
    <% @lesson.questions.each do |question| %>
      <li class='question'>
        <%= question.text %>
      </li>
      <% question.answers.each do |answer| %>
        <ul>
          <li class='answer'>
            <%= answer.text %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </ul>
</div>

<div id='content-index'>
  <ol>
    <% @lesson.contents.each do |content| %>
      <li>
        Content <%= content.id %>: <%= (content.length/60).round(2) %> minutes<br>
        <%= content.url %>
        <ul>
          <li>Questions: <%= content.questions.count %></li>
          <li>Quiz questions: <%= content.flashcards.count %></li>
        </ul>
      </li>
    <% end %>
  </ol>
</div>
