  <!-- Needed JS input for youtube -->
  <%= render partial: "javascript-input_ytplayer.erb" %>

  <!-- Page HTML -->
  <section class="sub-header">
    <%= render partial: 'shared/voting', locals: { votable: @lesson } %>
    <h1 class="lesson-title">
      <%= @lesson.title %>
    </h1>
  </section>

  <table class='content-nav'>
    <tr>
      <% @lesson.contents.each do |content| %>
        <td class='content-nav-piece'>
          <aside class='tooltip-content'><p><%= content.title.truncate(30) %></p></aside>
          <% if content.flashcards.any? %>
            <span data-content-id="<%= content.id %>">
              <aside class='tooltip-flashcard'><p><%= content.flashcards.size %> review questions for this video</p></aside>
              <%= content.flashcards.count %>
            </span>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>

  <!-- flashcard header -->
  <div class='flashcards'>
    <%= render partial: 'flashcards/card' %>
  </div>

  <!-- helper method -->
  <% count = 0 %>
  <div class="video-window-watch-lesson">
    <% @lesson.contents.each do |content| %>
    <% url = content.url.match(/(=)(\w+)/)[2] %>
    <% start_time = content.start_time.to_f %>
    <% end_time = content.finish_time.to_f %>
    <% id = content.id %>
    <% count += 1 %>
    <%= render partial: "javascript-input_chapters.erb", locals: { url: url, start_time: start_time, end_time: end_time, id: id } %>
    <% end%>  

    <!-- youtube video player -->
    <div id="videoDiv"></div>
    <% total_length = 0 %>
    <% @lesson.contents.each {|content| total_length += content.length}%>

    <button class='button2 button-play-pause left-floater' data-status="pause"><div class="play-pause-icon"></div></button>

    <script type="text/javascript">
    Player.activatePlayPauseButton();
    </script>

    <!-- Progress bar parent (wrapper) -->
    <div class="progress-bar watch-progress-bar">
      <div class="progress"></div>
      <div class="dragger"></div>
      <% current_width = 0 %>
      <% @lesson.contents.each_with_index do |content, index| %>
      <% width = ((content.length/total_length)* 575)%>

      <!-- Creates a progress bar div for each chapter in lesson (incl style) -->
      <div class="chapter progress<%=index%>" data-start="<%=current_width%>" data-end="<%=current_width + width%>">  
      </div>
      <%= render partial: "javascript-input_progress-bar.erb", locals: { index: index} %>

      <!-- CSS rendering for chapter progress bars -->
      <style type="text/css">
      .progress<%=index%>{
        width: <%= width %>px;
        height: 100%;
        position: absolute;
        left: <%= current_width %>px;
        <% current_width += (content.length/total_length)* 575 %>
        top: 0px;
      }
      </style>  
      <% end %>
    </div>
  </div>

  <!-- Live-Questions Feed -->
  <%= render partial: "live-questions-feed", locals: { lesson: @lesson } %>

  <!-- Question and Flashcard input -->
  <div class="lesson-user-input-shell">
    <div class="tabs-container">
      <p class="user-input-tab user-input-tab-quesiton user-input-tab-active" data-tab-content="question">
        Ask a Question
      </p>
      <p class="user-input-tab user-input-tab-card" data-tab-content="card">
        Add a Review Question
      </p>
    </div>
    <div class="user-input-indi-section user-input-questions-section user-input-indi-section-active">
      <%= render 'questions/new', question: @question %>
    </div>
    <div class="user-input-indi-section user-input-cards-section">
      <%= render 'flashcards/new', flashcard: @flashcard %>
    </div>
  </div>

  <!-- jQuery templates -->
  <%= render partial: "question-template" %>
  <%= render partial: "answer-template" %>
  <%= render partial: "modal-template" %>
