<!-- Required Stylesheets -->
<%= stylesheet_link_tag    "player_main_css.css", :media => "all" %>

<!-- Required Javascript -->
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load("swfobject", "2.1");
</script>
<%= javascript_include_tag "player_youtube" %>
<%= javascript_include_tag "player_jquery" %>

<!-- Page HTML -->
<h1 id='show-lesson-title'>
  Lesson <%= @lesson.id %>
</h1>
<table class='content-nav'>
  <tr>
    <% @lesson.contents.each do |content| %>
    <td class='content-nav-piece'>
      <% if content.flashcards.any? %>
      <span>
        <%= content.flashcards.count %>
      </span>
      <% end %>
    </td>
    <% end %>
  </tr>
</table>
<div class="top">
  <div id="videoDiv">
  </div>
</div>
<div id='questions-answers'>

<!-- gets first content of lesson (equal to one video) -->
<% video_one = @lesson.contents.first %>
<% ee = video_one.url.match(/(=)(\w+)/) %>
<% video_length = video_one.finish_time.to_f - video_one.start_time.to_f %>

<!-- set video link to content-link, start-time and end-time via script tag -->
<script type="text/javascript">
  var video_link = "<%= ee[2] %>"
  var start_time = "<%= video_one.start_time.to_f %>"
  var end_time = "<%= video_one.finish_time.to_f %>"
</script>

<% times = {} %>
<% video_one.questions.each {|question| times[question.time_in_content.to_f.ceil] = question} %>

<% video_length.ceil.times do |question| %>
<% if times.has_key?(question) %>
<div>
    <div class="qcontainer">
      <div class="triangle-border" data-time=<%= question%>>
        <strong><%= times[question].title%>
        </strong>
        <p class="question_body">
          <%= times[question].text%>
        </p>
      </div>
      <img class="bubble-face" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c0.0.160.160/p160x160/202896_4_1782288297_n.jpg">
    </div>
    <div class="repective-answers">
    <% times[question].answers.each do |answer|%>
      <div class="acontainer">
        <div class="atriangle-border"><%= answer.text%>
        </div>
        <img class="abubble-face" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c0.0.160.160/p160x160/202896_4_1782288297_n.jpg">
      </div>
      <% end %>
    </div>  
  </div>
  
<% else %>
<div>
<div class="qcontainer">
  <%= question %>
</div>
</div>
<% end %>
  <% end %>
</div>
<div class="progress-bar">
  <div class="progress">  
  </div>
</div>
<div id="navigation_bar">
  <button id="play" onclick="playVideo();">
    Play
  </button>
  <button id="pause" onclick="pauseVideo();">
    Pause
  </button>
</div>


<!-- diregard for now. Needed for now though. Please dont delete -->
<div id="videoInfo">
  <p>Player state: <span id="playerState">--</span></p>
  <p>Current Time: <span id="videoCurrentTime">--:--</span> | Duration: <span id="videoDuration">--:--</span></p>
</div>
