<!DOCTYPE html>
<html>
<head>
  <title>Raiseyourhand</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
  google.load("swfobject", "2.1");
</script>
  <%= javascript_include_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% unless @home %>
      <h3 id='title'><%= link_to 'raiseyourhand', root_path %></h3>
    <% end %>


    <ul id='top-right-nav'>
      <li><%= link_to 'Create new lesson', '/lessons/new' %></li>
    	<% if is_logged_in? %>
    		<li>Welcome <%= current_user.name %></li>
    		<li><%= link_to "sign out", signout_path %></li>
    	<% else %>
    		<li><%= link_to "sign in", "/auth/facebook" %></li>
    	<% end %>
    </ul>
  </nav>
  
	<%= yield %>
</body>
</html>
