<!DOCTYPE html>
<html>
<head>
  <title>Raiseyourhand</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
  google.load("swfobject", "2.1");
</script>
  <%= javascript_include_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="modal"></div>
  <div id="fancybox"></div>
  <div class="full-page-dim-overlay"></div>
  <div class="side-decor side-decor-left"></div>
  <div class="side-decor side-decor-right"></div>
  <header class="basic-header">
    <div class="basic-container">
      <%= link_to image_tag('logo.png', :class => 'logo-in-header'), root_path %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <ul class='header-nav'>
        <% if is_logged_in? %>
          <li>Welcome <%= current_user.name %></li>
          <li><%= link_to "my lessons", profile_path(current_user), :class => 'header-nav' %></li>
          <li><%= link_to "sign out", signout_path, :class => 'header-nav' %></li>
        <% else %>
          <li><%= link_to "sign in", "/auth/facebook" %></li>
        <% end %>
        <li><%= button_to 'Create new lesson', '/lessons/new', :method => 'get', :class => 'button2 header-btn right-floater' %></li>
      </ul>
    </div>
  </header>
  <div class="basic-container">
	 <%= yield %>
  </div>

</body>
</html>
