<!DOCTYPE html>
<html>
<head>
  <title>Raiseyourhand</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if is_logged_in? %>
		<h1>Welcome <%= current_user.name %></h1>
		<%= link_to "sign out", signout_path %>
	<% else %>
		<%= link_to "sign in", "/auth/facebook" %> 
	<% end %>
	<%= yield %>

</body>
</html>
